<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774731589854-rhc1k3nh24qd6oddko0aij19rifcabns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774731589854-rhc1k3nh24qd6oddko0aij19rifcabns</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>774731589854-jiesmej9d6tjee182rvg7o2ns936htdr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCearvC5LNl9UkRyziS4MhcrSJBdY3f9Vs</string>
	<key>GCM_SENDER_ID</key>
	<string>774731589854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aryan.gupta.suttTaskAryan</string>
	<key>PROJECT_ID</key>
	<string>sutt-task-aryan</string>
	<key>STORAGE_BUCKET</key>
	<string>sutt-task-aryan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774731589854:ios:5bed6ad1f16f01130fba4f</string>
</dict>
</plist>